:plain
  ---
  layout: default
  ---
%h2 Author
%p
  Jeff Su (me@jeffsu.com)

%h2 Try 

%textarea!
  class Hello { function world() { } } 
  

%h2 Source

%p
  Clone it with 
  %a{ :href => 'http://git-scm.com' } git 
  by running

  %pre!
    git clone git://github.com/jeffsu/js2

%p
  Download Project here: 
  %a{ :href => 'http://github.com/jeffsu/js2/zipball/master' } zip 
  or 
  %a{ :href => 'http://github.com/jeffsu/js2/tarball/master' } tar


