:plain
  ---
  layout: default
  ---
%h1 JS2
%h2 Javascript Syntactic Sugar
%p
  JS2 is for anyone who writes Javascript whether it be for browsers or for serverside scripting (nodejs and ringojs).  JS2 provides superset of javascript (which is backwards compatible with normal javascript) for features like: classes, inheritance, methods, currying, and shorthand sugar for common patterns.

%h2 Author
%p
  Jeff Su (me@jeffsu.com)

%h2 Try

%textarea.code!
  :plain
    class Hello {
      function world() {
        alert('hello');
      }
    }

    class Foo extends Hello {
      function world() {
        this.$super();
        alert('world');
      }
    }

    var foo = new Foo();
    foo.world();

%input.run{ :type => 'button', :value => 'Run' }

%h2 Download
%p
  %ol
    %li 
      Download the full version (js2 + compiler):
      %a{ :href => '/js2/javascript/js2-full.js' } here
    %li 
      Download the minimal version (for already compiled js2): 
      %a{ :href => '/js2/javascript/js2-full.js' } here


%h2 Install
%p
  %h3 Browser
  %p There are 2 ways to run js2 in the web browser.  The first is to import js2 files and compile them on the client side web browsers, but this is slow and should only be used for testing.  The second is to compile js2 on the server side and then run the raw javascript on the web browser.

  Option 1 (easy): Download 
  %a{ :href => '/js2/javascript/js2-full.js' } js2-full.js
  and include it in a script tag.  Here is some sample code:
  %pre!
    JS2.require("/javascripts/my-code.js2", function (code) { eval(code) });

  Option 2 (preferred): Download 
  %a{ :href => '/js2/javascript/js2.js' } js2.js
  and include it in a script tag.  Just make sure you include it before any compiled js2 code.

  %h3 NodeJS
  %pre!
    npm install js2

  %h3 RingoJS
  %pre!
    ringo-admin install jeffsu/js2

  %h3 Ruby
  %pre!
    gem install js2 --pre

%h2 Docs
%ul
  %li
    %a{ :href => 'http://github.com/jeffsu/js2/wiki' } Introduction
  %li
    %a{ :href => 'http://github.com/jeffsu/js2/wiki/Installation' } Installation
  %li
    %a{ :href => 'http://github.com/jeffsu/js2/wiki/Getting-Started' } Getting Started

%h2 Source
%p
  Clone it with 
  %a{ :href => 'http://git-scm.com' } git 
  by running

  %pre!
    git clone git://github.com/jeffsu/js2
%p
  Download Project here: 
  %a{ :href => 'http://github.com/jeffsu/js2/zipball/master' } zip 
  or 
  %a{ :href => 'http://github.com/jeffsu/js2/tarball/master' } tar

%style
  :sass
    .code
      width: 100%
      font-family: monospace
      height: 300px
      padding: 4px
      font-size: 1.2em

:javascript
  $('.run').click(function () {
    eval(js2.render($('.code').val()));
  });

