!!! XML utf-8
!!! Strict
%html
  %head
    %script{ :src => '/js2/javascript/jquery.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => '/js2/javascript/js2-full.js', :language => 'javascript', :type => 'text/javascript' }
    %style
      :sass
        body
          margin-top: 1.0em
          background-color: #73bcde
          font-family: "Helvetica,Arial,FreeSans"
          color: #000000

        #container
          margin: 0 auto
          width: 700px

      :plain
        h1 { font-size: 3.8em; color: #8c4321; margin-bottom: 3px; }
        h1 .small { font-size: 0.4em; }
        h1 a { text-decoration: none }
        h2 { font-size: 1.5em; color: #8c4321; }
        h3 { text-align: center; color: #8c4321; }
        a { color: #8c4321; }
        .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
        .download { float: right; }
        pre { background: #000; color: #fff; padding: 15px;}
        hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
        .footer { text-align:center; padding-top:30px; font-style: italic; }

  %body
    #container
      {{content}}
